@import 'tailwindcss';
@custom-variant dark (&:where([data-theme-resolved=dark], [data-theme-resolved=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant system (&:where([data-theme=system], [data-theme=system] *));

:root {
  --background: #ffffff;
  --foreground: #14110c;
  --border: #e5e5e5;
}

[data-theme-resolved='dark'] {
  --background: #000000;
  --foreground: #fffefb;
  --border: #252524;
}

[data-theme-resolved='dark'] .shiki,
[data-theme-resolved='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel: var(--font-geist-pixel-square);
}

@layer base {
  * {
    border-color: var(--border);
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) transparent;
  }

  body {
    background-color: var(--background);
    font-size: 15px;
    font-family: var(--font-pixel), monospace;
    color: var(--foreground);
  }

  button,
  a {
    cursor: pointer;
  }
}

.lineNumbers {
  code {
    counter-reset: step;
    counter-increment: step 0;
    font-family: monospace;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    color: color-mix(in oklab, var(--color-foreground) 30%, transparent);
  }
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
  pointer-events: none;
}

.bg-line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.bg-line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.bg-line:nth-child(1) {
  margin-left: -25%;
}

.bg-line:nth-child(1)::after {
  animation-delay: 2s;
}

.bg-line:nth-child(3) {
  margin-left: 25%;
}

.bg-line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
